// Colors
$white: #FFF;
$red: #AB1A2B;
$light-blue: #00ACEE;
$dark-blue: #005F81;
$light-grey: #EBECED;
$medium-grey:#9BA2A6;
$dark-grey: #757575;
$light-black: #37454D;

// Sizes
$medium-width-container: 980px;
$large-width-container: 1082px;
